<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Consejos de Salud</title>
	</head>
	
	<body>
		<header>
			<h1>Consejos de Salud</h1>
		</header>
		<hr/>
		<nav>
			<h2>MisMacotas.com</h2>
			<ul>
				<li><a href="index.html">Inicio</li>
				<li><a href="productos.html">Productos</li>
				<li><a href="consejosdesalud.html">Consejos de Salud</a></li>
				<li><a href="serviciodepaseo.html">Servicio de Paseos</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contacto.html">Contáctanos</a></li>
			</ul>
		</nav>
		
		<section>
			<article>
				<h2>Alimentacion</h2>
				 <p>Es importante alimentar a tu mascota con una dieta equilibrada para mantenerla saludable. 
				 Debes proporcionar alimento adecuado para la edad y el tamaño de tu mascota. 
				 Si tu mascota es un cachorro o un gatito, debes elegir un alimento especialmente formulado para cachorros o gatitos. 
				 Si tu mascota es adulta, es importante proporcionarle alimentos de calidad para adultos. 
				 También es importante ofrecerles alimentos frescos y limpios para evitar la intoxicación alimentaria.</p>
				 <hr/>
				 
				<h3>Agua</h3>
				 <p>Es importante asegurarse de que tu mascota siempre tenga agua limpia y fresca disponible. 
				 Debes cambiar el agua diariamente para mantenerlo limpio. 
				 Si tu mascota es un gato, es importante tener una fuente de agua separada para que puedan beber con comodidad.</p>
				 <hr/> 
				 
				 <h4>Ejercicio</h4>
				 <p>Es importante proporcionar ejercicio a tu mascota para mantenerla saludable y feliz. 
				 Los perros necesitan salir a pasear al menos dos veces al día. 
				 Los gatos también necesitan ejercicio para mantenerse activos y saludables. 
				 Puedes proporcionarles juguetes interactivos para estimular su actividad y mantenerlos entretenidos.</p>
				 <hr/>
				 
				 <h5>Atencion</h5>
				 <p>Proporcionar la atención y el cuidado adecuados a tu mascota es esencial para mantenerla saludable y feliz. 
				 Si tienes alguna pregunta sobre el cuidado de tu mascota, no dudes en contactar con tu veterinario. 
				 Recuerda, tu mascota necesita tu amor y tu atención para vivir una vida saludable y feliz.</p>
				 <hr/>
				 
				 <p>...</p>
				 	<aside>
				 		<li><a href="productos.html">Aqui vera nuestros productos en venta</li>
				 	</aside>
				 
			</article>
		</section>
		<footer align="center">
			<br/>
			<hr/>
			<center>
			<p>MisMascotas.com</p>
			<p>Diseñado por Grupo 3 - Jujuy - Republica Argentina</p>
			<p>Copyright 2023 © Todos los derechos reservados</p>
			</center>
		</footer>		
	
	</body>
</html>