<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contacto</title>
	</head>
	<body>
		<fieldset>        
        	<form id="formulario_enviar" name="formulario">
           		<h2>C&oacute;ntactenos</h2>
           		<p>
           			3915 Av. General Belgrano, 388-4999999
          	 		<br>Lunes a Viernes: 9:00 a.m. a 8:00 p.m.,
           			<br>S&aacute;bado a Domingo: 9:00 a.m. a 12:30 p.m.
           			<br><a href="www.gmail.com">contactos@mail.com.ar</a>
           		</p>
           		<ul>
           			<li><a href="www.facebook.com">Facebook</a></li>
           			<li><a href="www.instagram.com">Instagram</a></li>
           			<li><a href="www.twitter.com">Twitter</a></li>
           		</ul>
           		<hr></hr>
            	<div>
               		<label>Nombre </label><input type="text" id="nombre" name="nombre" value="" placeholder="Ingrese su nombre"/>
            	</div>
            	<div>
                	<label>Email </label><input type="email" id="correo" name="correo" value="" placeholder="Ingrese un mail valido"/>
            	</div>
            	<div>	
              		<label>Ciudad </label><input type="text" id="ciudad" name="ciudad" value="" placeholder="Ingrese su ciudad"/>
            	</div>	
            	<div>
               		<label>Mensaje </label><textarea id="mensaje" name="mensaje" cols="50" rows="5"></textarea>
               	</div>
            	<div>
                	<input type="submit" value="Enviar">
            	</div>
        	</form>
   		</fieldset>
	</body>
</html>