<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Contacto</title>
		<link rel="stylesheet" type="text/css" href="css/estilos.css">
	</head>
	<body>
		<header th:replace="/layouts/header::header"></header>
	
		<section>   
				<article class="contacto">
					<button class="button button-green"><a th:href="@{/contacto/administrar}")>Administrar Contactos</a></button>
					<p class="mensaje-sistema"  th:if="${mensaje != null}" th:text="${mensaje}"></p>
				    <h2>Contactenos</h2>
				    <p>
				        3915 Av. General Belgrano, 388-4999999
				        <br>Lunes a Viernes: 9:00 a.m. a 8:00 p.m.,
				        <br>Sábado a Domingo: 9:00 a.m. a 12:30 p.m.
				        <br><a href="www.gmail.com">contactos@mail.com.ar</a>
				    </p>
				    <ul class="redes-sociales">
				        <li><a href="www.facebook.com">Facebook</a></li>
				        <li><a href="www.instagram.com">Instagram</a></li>
				        <li><a href="www.twitter.com">Twitter</a></li>
				    </ul>
				</article>           		
				<form class="formulario" th:action="@{/contacto/guardar}" th:object="${newContacto}" method="post">
				    <hr>
				    <div class="form-group">
				        <label>Nombre</label>
				        <input type="text" th:field="*{nombre}" placeholder="Ingrese su nombre" />
				    </div>
				    <div class="form-group">
				        <label>Email</label>
				        <input type="email" th:field="*{email}" placeholder="Ingrese un mail válido" />
				    </div>
				    <div class="form-group">
				        <label>Ciudad</label>
				        <input type="text" th:field="*{ciudad}" placeholder="Ingrese su ciudad" />
				    </div>
				    <div class="form-group">
				        <label>Mensaje</label>
				        <textarea th:field="*{mensaje}" cols="50" rows="5"></textarea>
				    </div>
				    <div class="form-group">
				        <input type="submit" value="Enviar">
				    </div>
				</form>   		
			</section>
		<footer th:replace="/layouts/footer::footer"></footer>
	</body>
</html>