<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	</head>
	
	<body>
		<header>
			<h1>Gracias por visitarnos</h1>
			<img width="250px" alt="Bienvenido" src="../static/images/bienvenido.jpg" />
		</header>		
		<hr/>
		<nav>
			<h2>Inicio</h2>
			<ul>
				<li><a href="index.html">Inicio</li>
				<li><a href="productos.html">Productos</li>
				<li><a href="consejosdesalud.html">Consejos de Salud</a></li>
				<li><a href="serviciodepaseo.html">Servicio de Paseos</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contacto.html">Contáctanos</a></li>
			</ul>
		</nav>
		
		<section>
			<article>
				<h2>¿Quiénes Somos?</h2>
				 <p>Somos una empresa familiar que se inició en el año 1990 en la ciudad de Jujuy, especializada en juguetes y accesorios
				 para perros y gatos. Nuestros productos son de fabricación propia con diseños exclusivos y originales hechos de manera artesanal.</p>
				 <p>Contamos con articulos pensados y diseñados en base a lo que les gusta a las mascotas con materiales de primera
				 línea, basándonos en sus necesidades como el aspecto lúdico porque "jugar hace bien" y es importantísimo para el óptimo
				  crecimiento y desarrollo del animal.</p>
				 <p>...</p>
				 	<aside>
				 		<p>Dependiendo de la raza consultar sobre los productos a nuestros especialistas.
				 	</aside>
			</article>
		</section>
		<footer align="center">
			<br/>
			<hr/>
			<p>MisMascotas.com</p>
			<p>Diseñado por Grupo 3 - Jujuy - Republica Argentina</p>
			<p>Copyright 2023 © Todos los derechos reservados</p>		</center>	
		</footer> 		
	</body>
</html>