<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Inicio</title>
	</head>
	
	<body>
		<h1>Gracias por visitarnos</h1>
		<img width="250px" alt="Bienvenido" src="../static/images/bienvenido.jpg" />
		<hr/>
		<nav>
			<h2>Links</h2>
			<ul>
				<li>Inicio</li>
				<li>Productos</li>
				<li>Consejos de Salud</li>
				<li>Servicio de Paseos</li>
				<li>Sucursales</li>
				<li>Contáctanos</li>
			</ul>
		</nav>
		
		<section>
			<article>
				<h2>¿Quiénes Somos?</h2>
				 <p>Somos una empresa familiar que se inició en el año 1990 en la ciudad de Jujuy, especializada en juguetes y accesorios
				 para perros y gatos. Nuestros productos son de fabricación propia con diseños exclusivos y originales hechos de manera artesanal.</p>
				 <p>Contamos con articulos pensados y diseñados en base a lo que les gusta a las mascotas con materiales de primera
				 línea, basándonos en sus necesidades como el aspecto lúdico porque "jugar hace bien" y es importantísimo para el óptimo
				  crecimiento y desarrollo del animal.</p>
				 <p>...</p>
				 	<aside>
				 		<p>Dependiendo de la raza consultar sobre los productos a nuestros especialistas.
				 	</aside>
				 <hr/>
				<footer>
					<br/>
					<p>MisMascotas.com</p>
					<p>Diseñado por Grupo 3 - Jujuy - Republica Argentina</p>
					<p>Copyright 2023 © Todos los derechos reservados</p>
					
				</footer> 		
			</article>
		</section>
		
	
	</body>
</html>