<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="../static/css/estilos.css">
	</head>
	
	<body>
		<header th:replace="/layouts/header::header"></header>
	
		
		<section>
			<article>
				<h2>¿Quiénes Somos?</h2>
				 <p>Somos una empresa familiar que se inició en el año 1990 en la ciudad de Jujuy, especializada en juguetes y accesorios
				 para perros y gatos. Nuestros productos son de fabricación propia con diseños exclusivos y originales hechos de manera artesanal.</p>
				 <p>Contamos con articulos pensados y diseñados en base a lo que les gusta a las mascotas con materiales de primera
				 línea, basándonos en sus necesidades como el aspecto lúdico porque "jugar hace bien" y es importantísimo para el óptimo
				  crecimiento y desarrollo del animal.</p>
				 <p>...</p>
				 	<aside>
				 		<p>Dependiendo de la raza consultar sobre los productos a nuestros especialistas.
				 	</aside>
			</article>
		</section>
		<footer th:replace="/layouts/footer::footer"></footer>
	</body>
</html>