<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Productos</title>
	</head>
	
	<body>
		<h1>Nuestros productos disponibles son:</h1>
		
		<hr/>
		<nav>
			<h2>Links</h2>
			<ul>
				<li><a href="index.html">Inicio</li>
				<li>Consejos de Salud</li>
				<li><a href="serviciodepaseo.html">Servicio de Paseos</a></li>
				<li>Sucursales</li>
				<li>Contáctanos</li>
			</ul>
		</nav>
		
		<section>
			<article>
				<h2>Nuestros productos en stock son:</h2>
				 <p>Alimento para Perros </p>
				 <img width="250px" alt="alimento_perro" src="../static/images/alimento_perro." />
				 
				  
				 <hr/>
				<footer>
					<br/>
					<p>MisMascotas.com</p>
					<p>Diseñado por Grupo 3 - Jujuy - Republica Argentina</p>
					<p>Copyright 2023 © Todos los derechos reservados</p>
					
				</footer>		
			</article>
		</section>
		
	
	</body>
</html>