<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Productos</title>
	</head>
	
	<body>
		<h1>Nuestros Productos</h1>
		
		<hr/>
		<nav>
			<h2>MisMascotas.com</h2>
			<ul>
				<li><a href="index.html">Inicio</li>
				<li><a href="productos.html">Productos</li>
				<li><a href="consejosdesalud.html">Consejos de Salud</a></li>
				<li><a href="serviciodepaseo.html">Servicio de Paseos</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contacto.html">Contáctanos</a></li>
			</ul>
		</nav>
		
		<section>
			<article>
				<h2>Nuestros productos en stock son:</h2>
				 <p>Alimento para Perros </p>
				 <img width="250px" alt="alimento_perro" src="../static/images/productos/alimento_perro.jpg" />
				 <p>Alimento para Gatos </p>
				 <img width="250px" alt="alimento_gato" src="../static/images/productos/alimento_gato.jpg" />
				 <p>Alimento para Peces </p>
				 <img width="250px" alt="alimento_pez" src="../static/images/productos/alimento_pez.jpg" />
				 <p>Alimento para Aves </p>
				 <img width="250px" alt="alimento_ave" src="../static/images/productos/alimento_ave.jpg" />
				 <p>Arnes </p>
				 <img width="250px" alt="arnes" src="../static/images/productos/arnes.jpg" />
				 <p>Bozal </p>
				 <img width="250px" alt="bozal_perro" src="../static/images/productos/bozal_perro.jpg" />
				 <p>Casa para Aves </p>
				 <img width="250px" alt="casa_ave" src="../static/images/productos/casa_ave.jpg" />
				 <p>Cama para Perros </p>
				 <img width="250px" alt="colchon_perro" src="../static/images/productos/colchon_perro.jpg" />
				 <p>Collar </p>
				 <img width="250px" alt="collar_perro" src="../static/images/productos/collar_perro.jpg" />
				 <p>Correa </p>
				 <img width="250px" alt="correa_perro" src="../static/images/productos/correa_perro.jpg" />
				 <p>Casa para Perros </p>
				 <img width="250px" alt="cucha_perro" src="../static/images/productos/cucha_perro.jpg" />
				 <p>Filtro para pecera </p>
				 <img width="250px" alt="filtro_pez" src="../static/images/productos/filtro_pez.jpg" />
				 <p>Jaula </p>
				 <img width="250px" alt="jaula_ave" src="../static/images/productos/jaula_ave.jpg" />
				 <p>Juguete para Aves </p>
				 <img width="250px" alt="juguete_ave" src="../static/images/productos/juguete_ave.jpg" />
				 <p>Juguete para Gato </p>
				 <img width="250px" alt="juguete_gato" src="../static/images/productos/juguete_gato.jpg" />
				 <p>Juguete para Perro </p>
				 <img width="250px" alt="juguete_perro" src="../static/images/productos/juguete_perro.jpg" />
				 <p>Pecera de plastico </p>
				 <img width="250px" alt="pecera_pez" src="../static/images/productos/pecera_pez.jpg" />
				 <p>Comodero/Bebedero para Ave </p>
				 <img width="250px" alt="plato_ave" src="../static/images/productos/plato_ave.jpg" />
				 <p>Plato para Gato </p>
				 <img width="250px" alt="plato_gato" src="../static/images/productos/plato_gato.jpg" />
				 <p>Plato para Perro </p>
				 <img width="250px" alt="plato_perro" src="../static/images/productos/plato_perro.jpg" />
				 <p>Rascador para Gato </p>
				 <img width="250px" alt="rascador_gato" src="../static/images/productos/rascador_gato.jpg" />
				 <p>Chaleco para Perro </p>
				 <img width="250px" alt="ropa_perro" src="../static/images/productos/ropa_perro.jpg" />
				 <p>Shampoo </p>
				 <img width="250px" alt="shampoo_perro" src="../static/images/productos/shampoo_perro.jpg" />
				 <p>Transportador </p>
				 <img width="250px" alt="transportador_perro" src="../static/images/productos/transportador_perro.jpg" />
				 
				  
			</article>
		</section>
		<footer align="center">
			<br/>
			<hr/>
			<p>MisMascotas.com</p>
			<p>Diseñado por Grupo 3 - Jujuy - Republica Argentina</p>
			<p>Copyright 2023 © Todos los derechos reservados</p>					
		</footer>		
	</body>
</html>