<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
		<title>Servicio de Paseo</title>
	</head>
	
	<body>
		<h1>Servicios</h1>
		<hr/>
		<nav>
			<h2>MisMascotas.com</h2>
			<ul>
				<li><a href="index.html">Inicio</li>
				<li><a href="productos.html">Productos</li>
				<li><a href="consejosdesalud.html">Sucursales</a></li>
				<li><a href="serviciodepaseo.html">Servicio de Paseos</a></li>
				<li><a href="sucursales.html">Sucursales</a></li>
				<li><a href="contacto.html">Contáctanos</a></li>
			</ul>
		</nav>
		
		<table border="1">
			<tr>
				<td style="color: red">Dia</td>
				<td style="color: red">Lunes</td>
				<td style="color: red">Martes</td>
				<td style="color: red">Miercoles</td>
				<td style="color: red">Jueves</td>
				<td style="color: red">Viernes</td>
				<td style="color: red">Sabado</td>
			</tr>
			<tr>
				<td style="color: red">Horario</td>
				<td>6 a 9 - 15 a 18</td>
				<td>9 a 12 - 16 a 20</td>
				<td>6 a 10 - 12 a 18</td>
				<td>7 a 11 - 14 a 17</td>
				<td>10 a 12 - 17 a 21</td>
				<td>8 a 12 - 18 a 22</td>
			</tr>
			<tr>
				<td style="color: red">Paseador</td>
				<td>Juan Lopez</td>
				<td>Maria Sanchez</td>
				<td>Martin Vegas</td>
				<td>Lucio Mamani</td>
				<td>Patricio Burgos</td>
				<td>Nicolas Ustares</td>
			</tr>
		</table>
		<footer align="center">
			<br/>
			<hr/>
			<p>MisMascotas.com</p>
			<p>Diseñado por Grupo 3 - Jujuy - Republica Argentina</p>
			<p>Copyright 2023 © Todos los derechos reservados</p>					
		</footer>		
	</body>
</html>