<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<header th:fragment="header">
		<nav>
			<div>
				<img width="250px" alt="MisMascotas.com" src="../static/images/mismascotas.jpg" />
				<h2>Mis Mascotas</h2>
			</div>
			<ul>
				<li><a href="/">Inicio</li>
				<li><a href="/productos">Productos</li>
				<li><a href="/consejos">Consejos de Salud</a></li>
				<li><a href="/servicios">Servicio de Paseos</a></li>
				<li><a href="/sucursales">Sucursales</a></li>
				<li><a href="/contacto">Contáctanos</a></li>
			</ul>
		</nav>
	</header>
</body>
</html>