<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title></title>
</head>
<body>
	<header th:fragment="header" class="container-bg">
		<div class="menu">
			<div class="logo">
				<img width="250px" alt="MisMascotas.com" src="images/logo.png" />
				<h2>Mis Mascotas</h2>
			</div>
		<nav class="navmenu">
			<ul>
				<li><a th:href="@{/}">Inicio</li>
				<li><a th:href="@{/productos}">Productos</li>
				<li><a th:href="@{/consejos}">Consejos de Salud</a></li>
				<li><a th:href="@{/servicios}">Servicio de Paseos</a></li>
				<li><a th:href="@{/sucursales}">Sucursales</a></li>
				<li><a th:href="@{/contacto}">Contáctanos</a></li>
			</ul>
		</nav>
		</div>
	</header>
</body>
</html>